
<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body>
    
    <div class="footer">
      <p>Message:</p>
      <p>{{ message }}</p>
    </div>

  <div class="bodycenter">
 
    <ul class=movies>
      {% for movie in movies %}
      <li>Year: {{movie[0]}}, Title: {{movie[1].title()}}, Director: {{movie[2].title()}}, Actor: {{movie[3].title()}}, Release Date: {{movie[4].title()}}, Rating: {{movie[5]}}
      {% endfor %}
    </ul>
    <div class="footer">
    </div>
  </div>
</body>
</html>
